{% extends 'base.html' %}
{% load static %}
<head>
    <title>{% block title %}Menu{% endblock %}</title>
</head>
<body>
{% block body %}
    <div class="container menudiv">
        <h3 class="text-white menutitle">Menu</h3>
        <div class="row">
            {% for m in menu %}
                <div class="card mx-auto my-2 mb-auto menucard">
                    <h4 align="center" class="menudaydiv">
                        <span class="badge badge-pill badge-info mt-0 menudayname"> {{ m.day }} </span>
                    </h4>
                    <div class="card-body">
                        <div align="center" class="menudata">
                            {{ m.afternoon }}
                        </div>
                        <hr/>
                        <div align="center" class="menudata">
                            {{ m.night }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
    $('#nav_menu').addClass("active");
    </script>
{% endblock %}
</body>
