{% load static %}
<aside class="sidebar">
    <nav>
        <ul class="sidebar__nav">
            <li>
                <a href="#" class="sidebar__nav__link">
                    <img src="{% static 'images/sidebar_attendance.png' %}">
                    <span class="sidebar__nav__text">Fingerprint</span>
                </a>
            </li>
            <li>
                <a href="#" class="sidebar__nav__link">
                    <i class="fa fa-search"></i>
                    <span class="sidebar__nav__text">Credit card</span>
                </a>
            </li>
            <li>
                <a href="#" class="sidebar__nav__link">
                    <i class="fa fa-calendar"></i>
                    <span class="sidebar__nav__text">Shopping cart</span>
                </a>
            </li>
            <li>
                <a href="#" class="sidebar__nav__link">
                    <i class="fa fa-user"></i>
                    <span class="sidebar__nav__text">Account circle</span>
                </a>
            </li>
            <li>
                <a href="#" class="sidebar__nav__link">
                    <i class="fa fa-viadeo-square"></i>
                    <span class="sidebar__nav__text">Camera</span>
                </a>
            </li>
            <li>
                <a href="#" class="sidebar__nav__link">
                    <i class="fa fa-paste"></i>
                    <span class="sidebar__nav__text">Settings</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
